@import "./global.scss";

nav{
    top : 0px;

    width: 90vw;
    padding : 30px 5vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    a{
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        font-family: $font-familly-text;

        svg{
            transform: none;
            transition: all 0.5s;
        }

        &:hover{
            svg{
                transform: translateX(-10px);
            }
        }
    }

    div{
        display: flex;
        flex-direction: row-reverse;
        gap: 15px;

        span{
            display: grid !important;
            grid-template-columns: 100%;
            grid-template-rows: 100%;
            padding: 0 !important;

            select{
                border: 0;
                background-color: transparent !important;
                margin: 0;
                padding: 0 !important;
                -webkit-appearance: none;
                grid-row: 1;
                grid-column: 1;
                padding: 10px 12px !important;
                padding-right: 30px !important;

                &.dark{
                    color: white;
                }
            }

            svg{
                transform: rotate(-90deg);
                fill: transparent !important;
                height: 100%;
                grid-row: 1;
                grid-column: 1;
                margin-left: 40px;

                &.dark{
                    color: white;
                }
            }
        }

        button{
            background-color: transparent;
            border: 0;
        }
    }
}