//LIGHT THEME

$l-primary : #7EE48C;
$l-accent : #000100;
$l-bg : #F3F0F1;

//dark-theme

$d-primary : #7EE48C;
$d-accent : #FFFFFF;
$d-bg : #0000;


//fonts
@font-face {
    font-family: "Bienalle";
    src: url("../assets/font/Biennale-Bold.otf");
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-familly-title: Bienalle, sans-serif;
$font-familly-text: Poppins, sans-serif;